 /* CSS for chat messages */
 #chat-box {
     max-height: 250px;
     overflow-y: auto;
 }

 .user-message {
     text-align: right;
     color: white;
     margin-bottom: 12PX;
     margin-top: 12PX;
     /* WhatsApp green color */
 }

 .bot-message {
     text-align: left;
     color: white;
     margin-bottom: 19PX;
 }

 #toggle-btn {
     position: fixed;
     bottom: 20px;
     right: 20px;
     padding: 30px;
     border: none;
     background-color: rgb(96, 96, 201);
     color: white;
     border-radius: 50%;
     cursor: pointer;
     z-index: 9999;
     /* Ensure the icon stays on top of other elements */
 }

 #toggle-btn i {
     font-size: 100px;
     
     /* Adjust the size of the icon */
 }

 #chatbot-container {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 20px;
     max-width: 300px;
     background-color: black;
     color: white;
     padding: 10px;
     border-radius: 10px;
     z-index: 9998;
     /* Ensure the chatbot container stays below the icon */
 }

 #user-input {
     width: calc(100% - 70px);
     margin-right: 55px;
     padding: 15px;
     border-radius: 5px;
     border: 2px solid #ccc;
     font-size: 12px;
 }

 #send-btn {
     padding: 15px 30px;
     margin-bottom: 10px;
     margin-top: 15px;
     border: none;
     background-color: #4CAF50;
     color: white;
     border-radius: 5px;
     cursor: pointer;
     font-weight: bold;
     font-size: 16px;

 }

  
 
 
 
 
 
 
 
 
 
 
 /* Hide Google Translate logo */
 .goog-te-gadget-icon {
     display: none;
 }